<div class="container">
  <header class="header d-flex flex-wrap justify-content-center py-3 mb-4">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-2 text-white">GithubFinder</span>
    </a>

    <ul class="nav fs-4">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link ghf-link active ghf-active"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item"><a href="#" class="nav-link ghf-link">Search</a></li>
      <li class="nav-item">
        <a href="#" class="nav-link ghf-link">Contact</a>
      </li>
    </ul>
  </header>
</div>
