<div class="container">
  <!-- Search Input Section -->
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <h2 class="text-center text-white my-5">
        Type Github Username to Search
      </h2>
      <!-- SEARCH FORM -->
      <form
        (ngSubmit)="submitUser()"
        #searchForm="ngForm"
        name="searchForm"
        class="search mb-5"
      >
        <div class="form-group">
          <i class="fa fa-search"></i>
          <input
            class="form-control"
            type="saerch"
            name="username"
            id="username"
            placeholder="Type username to search.."
            autocomplete="off"
            required
            [(ngModel)]="username"
          />
          <div class="bg-danger text-white p-3" *ngIf="username === ''">
            Enter username first before searching.
          </div>
        </div>
        <!-- {{ username }} -->
        <button type="submit" class="btn btn-dark fs-5">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- Profile Section -->
<div class="container">
  <div *ngIf="showData" class="profile px-3 border shadow-lg my-4 bg-white">
    <div
      class="row d-flex row-cols-lg-2 row-cols-md-1 row-cols-sm-1 justify-content-between align-items-center p-3"
    >
      <!-- Name -->
      <div class="prof-name col-lg-4 col-md-12 col-sm-12 p-5 border shadow">
        <div class="prof-image text-center">
          <img class="img-fluid" src="{{ user?.avatar_url }}" alt="" />
        </div>
        <div class="prof-username">
          <p class="fw-bold text-center lead">
            Name: <span>{{ user?.name }}</span>
          </p>
          <p class="fw-bold text-center lead">
            Username: <span>{{ user?.login }}</span>
          </p>
          <p class="excerpt">
            {{ user?.bio }}
          </p>
          <div class="text-center">
            <a href="{{ user?.html_url }}" target="_blank">
              <button type="button" class="btn btn-outline-dark fw-bold">
                Visit Github Profile
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Details -->
      <div class="prof-details col-lg-7 col-md-12 col-sm-12 p-5 border shadow">
        <div
          class="badges d-flex flex-wrap justify-content-between align-items-center"
        >
          <button type="button" class="btn btn-success position-relative">
            Followers
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill color-badge"
            >
              {{ user?.followers }}
            </span>
          </button>

          <button type="button" class="btn btn-success position-relative">
            Repos
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill color-badge"
            >
              {{ user?.public_repos }}
            </span>
          </button>

          <button type="button" class="btn btn-success position-relative">
            Gists
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill color-badge"
            >
              {{ user?.public_gists }}
            </span>
          </button>

          <button type="button" class="btn btn-success position-relative">
            Following
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill color-badge"
            >
              {{ user?.following }}
            </span>
          </button>
        </div>
        <hr />
        <div
          class="profile-more d-flex justify-content-between align-items-center row row-cols-lg-3 row-cols-md-3 row-cols-sm-1"
        >
          <span class="location d-block col-lg-3 col-md-3 col-sm-12"
            >Location:<br /><span class="values">{{
              user?.location
            }}</span></span
          >
          <span class="location d-block col-lg-6 col-md-6 col-sm-12"
            >Company:<br />
            <span class="values">{{ user?.company }}</span>
          </span>
          <span class="location d-block col-lg-3 col-md-3 col-sm-12"
            >Member Since:<br />
            <span class="values">{{ user?.created_at | date }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div *ngFor="let item of repo" class="repo-lists">
    <div class="repo-item border p-5 bg-white shadow-lg my-3">
      <h2>{{ item.name }}</h2>
    </div>
  </div>
</div>
