<div class="container">
  <!-- Search Input Section -->
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <h2 class="text-center text-white my-5">
        Type Github Username to Search
      </h2>
      <form class="search mb-5">
        <div class="form-group">
          <i class="fa fa-search"></i>
          <input
            name="username"
            type="text"
            class="form-control"
            placeholder="Type username to search.."
            required
            (keyup)="findUser()"
          />
          <!-- <div class="bg-danger text-white p-3" *ngIf="username === ''">
            Enter username first before searching.
          </div> -->
        </div>
        <!-- {{ username }} -->
        <button type="submit" class="btn btn-dark fs-5">Search</button>
      </form>
    </div>
  </div>
  <div></div>

  <!-- Profile Section -->
  <div class="profile px-3 border shadow-lg my-4 bg-white">
    <div
      class="row d-flex row-cols-lg-2 row-cols-md-1 row-cols-sm-1 justify-content-between align-items-center p-3"
    >
      <!-- Name -->
      <div class="prof-name col-lg-4 col-md-12 col-sm-12 p-5 border shadow">
        <div class="prof-image text-center">
          <img class="img-fluid" src="../../assets/user.jpg" alt="" />
        </div>
        <div class="prof-username">
          <h4 class="fw-bold text-left">John Doe</h4>
          <h4 class="fw-bold text-left">johndoe</h4>
          <p class="excerpt">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consectetur consequatur cupiditate neque quod est enim debitis harum
            quo? Ratione, quo!
          </p>
          <button type="button" class="btn btn-outline-dark fw-bold">
            Visit Github Profile
          </button>
        </div>
      </div>
      <!-- Details -->
      <div class="prof-details col-lg-7 col-md-12 col-sm-12 p-5 border shadow">
        <div
          class="badges d-flex flex-wrap justify-content-between align-items-center"
        >
          <button type="button" class="btn btn-success position-relative">
            Followers
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
            >
              100
            </span>
          </button>

          <button type="button" class="btn btn-success position-relative">
            Repos
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
            >
              20
            </span>
          </button>

          <button type="button" class="btn btn-success position-relative">
            Gists
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
            >
              0
            </span>
          </button>

          <button type="button" class="btn btn-success position-relative">
            Following
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
            >
              1
            </span>
          </button>
        </div>
        <hr />
        <div
          class="profile-more d-flex justify-content-between align-items-center row row-cols-lg-3 row-cols-md-3 row-cols-sm-1"
        >
          <span class="location d-block col-lg-3 col-md-3 col-sm-12"
            >Location:<br /><span class="values"> KENYA</span></span
          >
          <span class="location d-block col-lg-6 col-md-6 col-sm-12"
            >Website:<br />
            <span class="values"> www.companyname.com</span>
          </span>
          <span class="location d-block col-lg-3 col-md-3 col-sm-12"
            >Member Since:<br />
            <span class="values"> JAN 01 2019</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
