<div class="container">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center text-white">
    <div class="col-lg-7 p-3 p-lg-4 pt-lg-3">
      <h1 class="display-4 fw-normal lh-2">
        View any Github Profile with <span class="home-txt">GithubFinder</span>
      </h1>
      <p class="lead lh-5">
        Save time looking up a profile from Github. GithubFinder helps you
        search for any github profile and view their profile details, literally
        in seconds. Try it Now!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 mb-lg-3">
        <button
          [routerLink]="['/search']"
          type="button"
          class="btn btn-ghf me-md-2 fw-bold"
        >
          Get Started
        </button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
      <img
        class="rounded-lg-3"
        src="../../assets/home-1.png"
        alt=""
        width="720"
      />
    </div>
  </div>
</div>
