.btn-ghf {
      background-color: #4fdc77;
      border-radius: 20px 20px 0px 20px;
      padding: 20px 40px;
      text-transform: uppercase;
}

.btn-ghf:hover {
      background-color: #333;
      color: white;
}

.home-txt {
      color: #fdd853;
}